{% extends "layout.html" %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='range.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% endblock %}
{% block content %}
  <!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->

  <div class="sixteen wide stretched column">
    <div class="ui bottom attached tab segment active">
      <p>...</p>
    </div>
  </div>

  <div class="sixteen wide stretched column">

    <div class="ui bottom attached tab segment active">
      <form class="ui form" action="{{ url_for('mapsAllmaps') }}" method=POST>
        <div class="ui middle aligned selection list">
          <div class="item">
            <div class="inline fields">
              <img class="ui avatar image" src="{{ url_for('static', filename='business3.png') }}">
              <div class="content">
                {# <i class="building icon"></i> #}
                <div class="header">Business</div>
                <div class="inline fields">
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_1" type="radio" name="business" value="restaurants">
                      <label for="business_1">Restaurants</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_2" type="radio" name="business" value="bars">
                      <label for="business_2">Bars</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_3" type="radio" name="business" value="coffee">
                      <label for="business_3">Coffee &amp; Tea</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_4" type="radio" name="business" value="beautysvc">
                      <label for="business_4">Beauty &amp; Spas</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_5" type="radio" name="business" value="giftshops">
                      <label for="business_5">Gift Shops</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_6" type="radio" name="business" value="food">
                      <label for="business_6">Food</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_7" type="radio" name="business" value="nightlife">
                      <label for="business_7">Nightlife</label>
                    </div>
                  </div>
                </div>
                {% if errorBusiness %}
                  <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                      Please select a business category.
                    </div>
                    <p>Business category is necessary for all maps.</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="item">
            <img class="ui image" src="{{ url_for('static', filename='rating.png') }}">
            <div class="content">
              {# <i class="heart icon"></i> #}
              <div class="header">Rating</div>
              <div id="starRating"></div>
              <input type="hidden" name="rating" value="0">
              <!-- <div class="ui segment slider">
                <div class="ui range" id="smooth"></div>
                <br>
                <div style="text-align: center"><span id="ratingValue"></span></div>
                <input type="hidden" name="rating" value="0">
              </div> -->
              {% if errorRating %}
                <div class="ui negative message">
                  <i class="close icon"></i>
                  <div class="header">
                    Please select a rating level.
                  </div>
                  <p>Rating level is necessary for the Price map.</p>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="item">
            <img class="ui avatar image" src="{{ url_for('static', filename='price.png') }}">
            <div class="content">
              {# <i class="dollar icon"></i> #}
              <div class="header">Price</div>
                <div class="ui form">
                  <div class="inline fields">
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="price" value="$">
                        <label>$</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="price" value="$$">
                        <label>$$</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="price" value="$$$">
                        <label>$$$</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="price" value="$$$$">
                        <label>$$$$</label>
                      </div>
                    </div>
                  </div>
                </div>
                {% if errorPrice %}
                  <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                      Please select a price level.
                    </div>
                    <p>Price level is necessary for the Rating map.</p>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="item">
              <img class="ui image" src="{{ url_for('static', filename='city3.png') }}">
              <div class="content">
                <div class="header">Region</div>
                <div class="ui basic buttons">
                  <div id="city_1" class="ui disabled cityButton button">Bay Area</div>
                  <div id="city_2" class="ui disabled cityButton button">Peninsula</div>
                  <div id="city_3" class="ui disabled cityButton button">East Bay</div>
                  <div id="city_4" class="ui disabled cityButton button">North Bay</div>
                  <div id="city_5" class="ui disabled cityButton button">San Francisco</div>
                  <div id="city_6" class="ui disabled cityButton button">Downtown SF</div>
                  <div id="city_7" class="ui disabled cityButton button">Outer SF</div>
                  <input type="hidden" name="region" value="">
                </div>
                {% if errorCity %}
                  <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                      Please select a city.
                    </div>
                    <p>City is necessary for all maps.</p>
                  </div>
                {% endif %}
                <!--
                <div data-tooltip="You need to select a business category first." data-position="bottom center">
                  <div class="header">City</div>
                  <select class="ui compact selection dropdown" name="city">
                    <option value="0">Select City</option>
                    {% for city in cities %}
                      <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                  </select>
                </div>
                -->
              </div>
            </div>

          <div class="item zipcode-block" style="display: none;">
            <img class="ui avatar image" src="{{ url_for('static', filename='zipcode.png') }}">
            <div class="content">
              <div class="header">Neighborhood/Zipcode</div>
              <select class="ui compact selection dropdown" name="zipcode"></select>
            </div>
          </div>

          <div class="item">
            <button class="ui primary button">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='range.js') }}"></script>
  <script>
    $(document).ready(function(){

      $("#starRating").rateYo({
        numStars: 5,
        rating: 0,
        halfStar: true,
        precision: 5,
        starWidth: "20px",
        onChange: function(rating){
          $('input[name=rating]').val(rating);
        }
      });


      var $citySelect = $('select[name=city]');
      $citySelect.addClass('disabled');

      $citySelect.attr("disabled", "disabled");
      $('#smooth').range({
        min: 0,
        max: 5,
        start: 0,
        step: 0.5,
        smooth: true,
        onChange: function(value) {
          $('#ratingValue').html(value);
          $('input[name=rating]').val(value);
        }
      });

      $('.cityButton').click(function(event){
        $('.cityButton').removeClass('active');
        $(this).addClass('active');
        $('input[name=region]').val($(this).text());
      });

      $('input[name=business]').change(function(event){
        var val = $(this).val();
        $('.cityButton').removeClass('disabled');
        // $citySelect.removeAttr("disabled")
        // $citySelect.removeClass('disabled');
        // $citySelect.val(0);
        switch (val) {
          case 'restaurants':
          case 'beautysvc':
            $('.cityButton').show().removeClass('active');
            $('#city_1, #city_5').hide();
            $('input[name=region]').val('');
            break
          case 'food':
            $('.cityButton').show().removeClass('active');
            $('#city_1, #city_6, #city_7').hide();
            $('input[name=region]').val('');
            break
          default:
            $('.cityButton').hide().removeClass('active');
            $('#city_1').show().addClass('active');
            $('input[name=region]').val('Bay Area');
        }

        // if (val === 'beautysvc' || val === 'restaurants') {
        //   $('select[name=city] option[value="San Francisco - Downtown"]').show()
        //   $('select[name=city] option[value="San Francisco - Outer"]').show()
        //   $('select[name=city] option[value="San Francisco"]').hide()
        // } else {
        //   $('select[name=city] option[value="San Francisco - Downtown"]').hide()
        //   $('select[name=city] option[value="San Francisco - Outer"]').hide()
        //   $('select[name=city] option[value="San Francisco"]').show()
        // }
      });

      $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;
    });
  </script>
{% endblock %}


<!-- <div class="ui red empty circular label"></div> -->





