{% extends "layout.html" %}

{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='range.css') }}">
{% endblock %}
{% block content %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  <div class="sixteen wide stretched column">
    <div class="ui bottom attached tab segment active">
      <p>...</p>
    </div>
  </div>

  <div class="sixteen wide stretched column">

    <div class="ui bottom attached tab segment active">
      <form class="ui form" action="{{ url_for('mapsAllmaps') }}" method=post>
        <div class="ui middle aligned selection list">
          <div class="item">
            <div class="inline fields">
              <img class="ui avatar image" src="{{ url_for('static', filename='business3.png') }}">
              <div class="content">
                {# <i class="building icon"></i> #}
                <div class="header">Business</div>
                <div class="inline fields">
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_1" type="radio" name="business" value="restaurants">
                      <label for="business_1">Restaurants</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_2" type="radio" name="business" value="bars">
                      <label for="business_2">Bars</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_3" type="radio" name="business" value="coffee">
                      <label for="business_3">Coffee &amp; Tea</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_4" type="radio" name="business" value="beautysvc">
                      <label for="business_4">Beauty &amp; Spas</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_5" type="radio" name="business" value="giftshops">
                      <label for="business_5">Gift Shops</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_6" type="radio" name="business" value="food">
                      <label for="business_6">Food</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="business_7" type="radio" name="business" value="nightlife">
                      <label for="business_7">Nightlife</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <img class="ui image" src="{{ url_for('static', filename='rating.png') }}">
            <div class="content">
              {# <i class="heart icon"></i> #}
              <div class="header">Rating</div>
              <div class="ui segment slider">
                <div class="ui range" id="smooth"></div>
                <br>
                <div style="text-align: center"><span id="ratingValue"></span></div>
                <input type="hidden" name="rating" value="0">
              </div>
            </div>
          </div>

          <div class="item">
            <img class="ui avatar image" src="{{ url_for('static', filename='price.png') }}">
            <div class="content">
              {# <i class="dollar icon"></i> #}
              <div class="header">Price</div>
                <div class="ui form">
                  <div class="inline fields">
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="price" value="$">
                        <label>$</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="price" value="$$">
                        <label>$$</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="price" value="$$$">
                        <label>$$$</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="price" value="$$$$">
                        <label>$$$$</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="item">
            <img class="ui image" src="{{ url_for('static', filename='city3.png') }}">
            <div class="content">
              <div class="header">City</div>
              <select class="ui compact selection dropdown" name="city">
                {% for city in cities %}
                  <option value={{ city[0] }}>{{ city[0] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="item zipcode-block" style="display: none;">
            <img class="ui avatar image" src="{{ url_for('static', filename='zipcode.png') }}">
            <div class="content">
              <div class="header">Neighborhood/Zipcode</div>
              <select class="ui compact selection dropdown" name="zipcode"></select>
            </div>
          </div>

          <div class="item">
            <button class="ui primary button">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='range.js') }}"></script>
  <script>
    var zipcodes = {{ cityZipcodeDict|tojson() }}
    console.log(zipcodes)
    $(document).ready(function(){
      $('#smooth').range({
        min: 0,
        max: 5,
        start: 0,
        step: 0.5,
        smooth: true,
        onChange: function(value) {
          $('#ratingValue').html(value);
          $('input[name=rating]').val(value);
        }
      });
      $('select[name=city]').change(function(event){
        var city = $('select[name=city]').val();
        $('select[name=zipcode]').html('');
        if(zipcodes[city] && zipcodes[city].length > 4){
          $('div.zipcode-block').show()
          zipcodes[city].forEach(function(zipcode){
            $('select[name=zipcode]').append(`<option value="${zipcode}">${zipcode}</option>`)
          })
        } else {
          $('div.zipcode-block').hide()
        }

      });

    });
  </script>
{% endblock %}







