<div class="three wide column vertical-menu">
  <div class="ui tabular menu vertical">
    <a class="item {% if activeSubNav == 'rawdata' %}active{% endif %}" href="/analysis/rawdata">Rawdata</a>
    <a class="item {% if activeSubNav == 'outline' %}active{% endif %}" href="/analysis/outline">Outline</a>
    <a class="item {% if activeSubNav == 'estimation' %}active{% endif %}" href="/analysis/estimation">Estimation</a>
    <a class="item {% if activeSubNav == 'results' %}active{% endif %}" href="/analysis/results">Results</a>
    <a class="item {% if activeSubNav == 'technicalities' %}active{% endif %}" href="/analysis/technicalities">Technicalities</a>
  </div>
</div>
