{% extends "layout.html" %}
{% set page = "feedbackPage" %}

{% block content %}

  <div class="sixteen wide stretched column ">
    <div class="ui bottom attached tab segment active">
      <form action="{{ url_for('feedbackSent') }}" method=POST>


        <div class="column">
          <div class="ui form">
            <div class="field">
              <div class="grouped fields">
                {% if errorAbout %}
                  <div class="four fields">
                    <div class="field">
                      <div class="ui negative message">
                        <i class="close icon"></i>
                        <div class="header">
                          The topic?
                        </div>
                        <p>What is your comment about?</p>
                      </div>
                    </div>
                  </div>
                {% endif %}
                <label for="fruit">About:</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="about" value="concept" tabindex="0" class="hidden">
                    <label>Conceptualization</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="about" value="analysis" tabindex="0" class="hidden">
                    <label>Analysis</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="about" value="simulation" tabindex="0" class="hidden">
                    <label>Simulation</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="about" value="code" tabindex="0" class="hidden">
                    <label>Code</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <label>Other</label>
                    <input type="radio" name="about" value="other" tabindex="0" class="hidden">
                  </div>
                  <div class="four fields">
                    <div class="field">
                      <div class="field">
                        <input type="text" name="otherAbout" placeholder="Other">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <div class="field">
                  <label>Your Comments</label>
                  <textarea rows="5" name="comment"></textarea>
                </div>
              </div>
            </div>
            {% if errorComment %}
              <div class="two fields">
                <div class="field">
                  <div class="field">
                    <div class="ui negative message">
                      <i class="close icon"></i>
                      <div class="header">
                        Oopss..
                      </div>
                      <p>So, what is your comment?</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="four fields">
              <div class="field">
                <label>Name <i style="font-weight: 400;"> (Optional)</i></label>
                <input type="text" name="name" placeholder="Name.."><br>
              </div>
              <div class="field">
                <label>E-mail <i style="font-weight: 400;"> (Optional)</i></label>
                <input type="email" name="email" placeholder="E-mail.."><br>
              </div>
            </div>
            <div class="ui field">
              <button class="ui submit button primary" type=submit>Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.ui.radio.checkbox').checkbox();

      $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;
      });
  </script>

{% endblock %}
