<div class="three wide column vertical-menu">
  <div class="ui tabular menu vertical">
    <a class="item {% if activeSubNav == 'summary' %}active{% endif %}" href="/intro/summary">Summary</a>
    <a class="item {% if activeSubNav == 'concept' %}active{% endif %}" href="/intro/concept">Conceptual Framework</a>
    <a class="item {% if activeSubNav == 'method' %}active{% endif %}" href="/intro/method">Methodology</a>
    <a class="item {% if activeSubNav == 'findings' %}active{% endif %}" href="/intro/findings">Findings</a>
  </div>
</div>
