{% extends "layout.html" %}
{% set activeTopNav = "intro" %}
{% set activeSubNav = "summary" %}

{% block content %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% include 'intro/nav.html' %}

  <div class="thirteen wide stretched column main-content">
    <div class="ui tab attached segment active">
      <h2>Spatial Competition and Dual Role of Price</h2>
      <p>Competition is a key element in memory-based models of consumer decision-making (Bronnenberg, Mahajan and Vanhonacker 2000; Burke and Srull 1982; Keller 1991). While the prior studies on competition is overwhelmed with the finding that competition is not desirable and may have adverse effects on the outcomes of firms’ marketing mix (particularly advertising) efforts (Keller 1987; Kumar 2000; Unnava and Sirdeshmukh 1994), findings from more recent studies has shown some favorable implications of competition for firms’ advertising strategy and performance (Jewell and Unnava 2004) or marketing mix effectiveness on sales (Erguncu and Harmancioglu 2016). </p>
      <p>Differentiation has been shown to be an essential tool for businesses to escape from the adverse effects of competition. I, in this research, particularly examine the spatial distance among firms as a means of a differentiation strategy and argue that spatial differentiation might moderate the effect of price on customer ratings. Despite local pricing differences, the price of a restaurant meal, for instance, is consistently found to reflect the quality of the restaurant, and as such can be used by consumers as a guide to the quality of this experience good. This supports a large body of theoretical and empirical literature that indicates a quality signalling role of price (Gerstner, 1985; Bagwell and Riordan, 1991; Adriani and Deidda, 2011).</p>
      <p>Specifically, I introduce the concept of spatial competition as a factor moderating the dual role of price, which are quality inference and sacrifice perception, (see Völckner and Hofmann 2007 for a meta-analysis) on overall satisfaction of customers reflected in the form of reviews and ratings.</p>
      <p>I specify a hierarchical model and employ Bayesian estimation. The Bayesian approach is ideally suited for constructing hierarchical models, which are useful for data structures with multiple levels, such as data from individuals who are members of groups which in turn are in higher-level organizations. Hierarchical models have parameters that meaningfully describe the data at their multiple levels and connect information within and across levels. Bayesian methods are very flexible and straightforward for estimating parameters of complex hierarchical models (and simpler models too).</p>
      <p>Results of this research show that customers are more (vs. less) likely to infer quality from price when spatial competition is lower (i.e. higher) among firms. Apart from the indirect effect of spatial competition on overall satisfaction, however, spatial competition has also a direct and negative effect on satisfaction. Finally, results indicate a significant industry effect governing all these relationships at a higher level.</p>

    </div>
  </div>

{% endblock %}
