{% extends "layout.html" %}
{% block content %}
  <form action="{{ url_for('feedback') }}" method=post class=feedback>
    <dl>
      <div class="ui sub header">Subject</div>
      <select class="ui compact selection dropdown" name="subject">
      <option value="concept">Conceptualization</option>
      <option value="analysis">Analysis</option>
      <option value="simulation">Simulation</option>
      <option value="code">Code</option>
      <option value="other">Other</option>
      </select>
      <div class="ui sub header">Comment</div>
      <dd><textarea name=content rows=5 cols=40></textarea>
      <dd><input type=submit value=Send>
    </dl>
  </form>

{% endblock %}
